{% extends 'index.html' %}



{%  block header %}

{{ block.super}}
{%  endblock header%}

 {% block image %}
  {% endblock image %}


{% block departement %}

<div id="fh5co-contact" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3>INFORMATIONS DE CONNEXION</h3>
            <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
          </div>
        </div>
        <form  method="post">
          {% csrf_token %}
          <div class="row animate-box">
            <div class="col-md-6">
              <h3 class="section-title">ADRESSES</h3>
              <ul class="contact-info">
                <li><i class="icon-location-pin"></i>1399 rue moukoukoulou plateau des 15ans</li>
                <li><i class="icon-phone2"></i>05 559 87 27 / 06 951 24 69 / 04 047 51 52 / 226132811</li>
                <li><i class="icon-mail"></i><a href="">info@eces-ecole.org</a></li>
                <li><i class="icon-globe2"></i><a href="https://www.eces-ecole.org/">www.eces-ecole.org</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                     {{ form.as_p }}
                    
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="submit" value="Se connecter" class="btn btn-primary">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock departement %}
<!--<h2>SE CONNECTER</h2>
<form  method="post">
{% csrf_token %}
{{ form.as_p }}

<button  type="submit">Se connecter</button>
</form>-->
