{% extends 'index.html' %}


{%  block header %}

{{ block.super}}
{%  endblock header%}

 {% block image %}
  {% endblock image %}


{% block departement %}
<div id="fh5co-tours" class="fh5co-section-gray">
 <div class="container">
<div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">

            <h3>Accès refusé</h3>
            <p>Vous n'avez pas une autorisation pour accèder à la page demandée.</p>
          </div>
        </div>

        
      </div>
 </div>

{% endblock departement %}
