{% extends 'index.html' %}
{% load staticfiles %}

{%  block header %}

{{ block.super}}
{% endblock header %}


{% block liste %}
{% endblock liste %}

{% block image %}

{% endblock image %}


{% block groupe1 %}
{% endblock groupe1 %}

{% block groupe2 %}
{% endblock groupe2 %}

{% block formulaire %}

<h2>Contact <span>Form</span></h2>
        <form id="contacts-form" action="#">
          <fieldset>
            <div class="field">
              <label>E-mail:</label>
              <input type="email" value=""/>
            </div>

            <div class="field">
              <label>Mot de passe:</label>
              <input type="password" value=""/>
            </div>
            <div class="alignright"><a href="#">Se connecter</a></div>
          </fieldset>
        </form>

{% endblock formulaire %}