{% load staticfiles %}
<!DOCTYPE HTML>
<!--
  Aesthetic by gettemplates.co
  Twitter: http://twitter.com/gettemplateco
  URL: http://gettemplates.co
-->
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Savory &mdash; Free Website Template, Free HTML5 Template by GetTemplates.co</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
  <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="GetTemplates.co" />

    <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  
  <!-- Animate.css -->
  <link rel="stylesheet" href="{% static 'eces/css/animate.css' %}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{% static 'eces/css/icomoon.css' %}">
  <!-- Themify Icons-->
  <link rel="stylesheet" href="{% static 'eces/css/themify-icons.css' %}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="{% static 'eces/css/bootstrap.css' %}">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{% static 'eces/css/magnific-popup.css' %}">

  <!-- Bootstrap DateTimePicker -->
  <link rel="stylesheet" href="{% static 'eces/css/bootstrap-datetimepicker.min.css' %}">

  <!-- Owl Carousel  -->
  <link rel="stylesheet" href="{% static 'eces/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'eces/css/owl.theme.default.min.css' %}">

  <!-- Theme style  -->
  <link rel="stylesheet" href="{% static 'eces/css/style.css' %}">

  <!-- Modernizr JS -->
  <script src="{% static 'eces/js/modernizr-2.6.2.min.js' %}"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  </head>
  <body>
    
  <div class="gtco-loader"></div>
  
  <div id="page">

  
  <!-- <div class="page-inner"> -->
    
  <nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div id="gtco-logo"><a href="">BIBLIOTHEQUE <em>.</em></a></div>
        </div>
        <div class="col-xs-8 text-right menu-1">
          <ul>
            <li><a href="">Acceuil</a></li>
            <li class="has-dropdown">
              <a href="{% static 'eces/services.html' %}">Départements</a>
              {% for departement in departement_list %}
              <ul class="dropdown">
                <li><a href="{% url 'departement_detail' departement.pk %}">{{ departement.libelle }}</a></li>
                {% empty %}
                <li>Liste vide</li>
                {% endfor %}
              </ul>
            </li>
          </ul> 
        </div>
      </div>
    </div>
  </nav>
  
  <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url({% static 'eces/images/ar.jpeg' %})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">
          

          <!--<div class="row row-mt-15em">
            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
              <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>
              <h1 class="cursive-font">All in good taste!</h1>  
            </div>
          </div>-->
              
          
        </div>
      </div>
    </div>
  </header>

  
  
  <div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2 class="cursive-font primary-color">Nos Départements</h2>
        </div>
      </div>
  <div class="row">
          {% for departement in departement_list %}
        <div class="col-lg-4 col-md-4 col-sm-6">
           <a href="#" class="fh5co-card-item image-popup">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
              <img src="{% static 'eces/images/trans.jpg' %}" alt="Image" class="img-responsive">
            </figure>
            </a>
            <div class="fh5co-text">
              <h2><a href="{% url 'departement_detail' departement.pk %}">{{ departement.libelle }}</a></h2>
              <p>{{ departement.description }}</p>
            </div>
        </div>
         {% empty %}
              <h2>Liste vide</h2>
        {% endfor %}
      </div>

      </div>
    </div>
  </div>
  
  
  <!-- </div> -->

  </div>
  
  <!-- jQuery -->
  <script src="{% static 'eces/js/jquery.min.js' %}"></script>
  <!-- jQuery Easing -->
  <script src="{% static 'eces/js/jquery.easing.1.3.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'eces/js/bootstrap.min.js' %}"></script>
  <!-- Waypoints -->
  <script src="{% static 'eces/js/jquery.waypoints.min.js' %}"></script>
  <!-- Carousel -->
  <script src="{% static 'eces/js/owl.carousel.min.js' %}"></script>
  <!-- countTo -->
  <script src="{% static 'eces/js/jquery.countTo.js' %}"></script>

  <!-- Stellar Parallax -->
  <script src="{% static 'eces/js/jquery.stellar.min.js' %"></script>

  <!-- Magnific Popup -->
  <script src="{% static 'eces/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'eces/js/magnific-popup-options.js' %}"></script>
  
  <script src="{% static 'eces/js/moment.min.js' %}"></script>
  <script src="{% static 'eces/js/bootstrap-datetimepicker.min.js' %}"></script>


  <!-- Main -->
  <script src="{% static 'eces/js/main.js' %}"></script>

  </body>
</html>




<!--{% for departement in departement_list %}
<ul>
<li><a href="{% url 'departement_detail' departement.pk %}">{{ departement.libelle }}</a></li>
{% empty %}
<li>Liste vide</li>
{% endfor %}
</ul> -->
