{% extends 'index.html' %}
{% load staticfiles %}

{%  block header %}

{{ block.super}}
{%  endblock header%}


{% block liste %}
{% endblock liste %}

{% block image %}
{% endblock image %}

{% block groupe1 %}
{% endblock groupe1 %}

{% block groupe2 %}

<h2>NOS DEPARTEMENTS</h2>
{% for departement in departement_list %}
<p><span class="txt1"><a href="{% url 'departement_detail' departement.pk %}">{{ departement.libelle }}</a></span></p>
 <div class="img-box"><img src="{{departement.image.url}}" width="200"></div>
 <p class="p0">{{ departement.description|truncatechars:200 }}</p><br><br>
 {% empty %}
<p>Liste vide</p>
{% endfor %}

{% endblock groupe2 %}

 {% block formulaire %}
{% endblock formulaire %}





<!--{% for departement in departement_list %}
<ul>
<img src="{{departement.image.url}}" width="200">
<li><a href="{% url 'departement_detail' departement.pk %}">{{ departement.libelle }}</a></li>
<p>{{ departement.description }}</p>
{% empty %}
<li>Liste vide</li>
{% endfor %}
</ul>-->
