{% extends 'index.html' %}
{%  block header %}
{{ block.super }}
{%  endblock header%}

 {% block image %}
  {% endblock image %}

 {% block departement %}
 <div id="fh5co-tours" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate-box">
                 <h2 class="heading-title">{{ document.titre }}</h2>
            </div>
			<div class="col-md-6 animate-box">
				<p>{{ document.description|safe }}</p>
				<p><a href="{{ document.fichier.url }}">Document PDF</a></p>
			</div>
			<div class="col-md-6 animate-box">
				<img class="img-responsive" src="{{ document.image.url }}" alt="travel">
			</div>
			
		</div>

		 
				
     </div>
</div>





 {% endblock departement %}





















<!--<h1>Titre: {{ document.titre }}</h1>
<img src="{{ document.image.url }}" width="200" />
<p>{{ document.description }}</p>
<p><a href="{{ document.fichier.url }}">Voir le document</a></p>-->

 
