{% extends 'index.html' %}
{% load staticfiles %}

{%  block header %}
{{ block.super }}
{%  endblock header%}

{% block liste %}
{% endblock liste %}

{% block image %}
{% endblock image %}

{% block groupe1 %}
{% endblock groupe1 %}

{% block groupe2 %}

<h2>{{ document.titre }}</h2>
 <div class="img-box"><img src="{{ document.image.url }}" width="200" /></div>
 <p class="p0">{{ document.description }}</p>
 <p><a href="{{ document.fichier.url }}">Voir le document</a></p><br><br>
{% endblock groupe2 %}


{% block formulaire %}
{% endblock formulaire %}




















<!--<h1>Titre: {{ document.titre }}</h1>
<img src="{{ document.image.url }}" width="200" />
<p>{{ document.description }}</p>
<p><a href="{{ document.fichier.url }}">Voir le document</a></p>-->

 
