{% extends 'index.html' %}
{% load staticfiles %}

{%  block header %}

{{ block.super}}
{%  endblock header%}


{% block liste %}
{% endblock liste %}

{% block image %}
{% endblock image %}

{% block groupe1 %}
{% endblock groupe1 %}

{% block groupe2 %}

		<h2><span>Informations sur L'Equipe</span></h2>
		<p>A la fin de notre parcours academique, nous etudiant et etudiante <span class="txt1">Yann NTANGOU</span> et <span class="txt1">Elda Loussilaho</span> en licence III de Telecommunication & reseau et Genie informatique avons passer un stage à l’École Communautaire de l’Enseignement Supérieur(<a href="http://www.eces-online.org/">ECES</a>), puis avons conçue une bibliotheque pour l'ecole avec l'aide de notre professeur <span class="txt1">Mr Bah</span>.Cette bibliotheque est conçue pour les etudiants et etudiantes de l’École Communautaire de l’Enseignement Supérieur uniquement,et est à la portée de tout les niveaux toutes filieres confondues. Pour plus d'information rapprochez vous de la scolarité...
		</p>

{% endblock groupe2 %}

 {% block formulaire %}
{% endblock formulaire %}

