{% extends 'index.html' %}
{%  block header %}
{{ block.super }}
{%  endblock header%}

 {% block image %}
  {% endblock image %}

 {% block departement %}
 <div id="fh5co-tours" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate-box">
                 <h2 class="heading-title">{{ filiere.libelle }}</h2>
            </div>
			<div class="col-md-6 animate-box">
				<p style="color: black">{{ filiere.description }}</p>
				
		<div class="blog-text">
			<div class="prod-title">
				<h3>DOCUMENTS ASSOCIES</h3>
					{% for document in filiere.document_set.all %}
						<p><a href="{% url 'document_detail' document.pk %}">{{ document.titre }}</a></p>
					{% empty %}
						<p>La liste est vide</p>
					{% endfor %}
		    </div>
		</div> 
			</div>
			<div class="col-md-6 animate-box">
				<img class="img-responsive" src="{{filiere.image.url}}" alt="travel">
			</div>
		</div>

				
     </div>
</div>





 {% endblock departement %}






<!--

{% block groupe2 %}

<h2>{{ filiere.libelle }}</h2>
 <div class="img-box"><img src="{{filiere.image.url}}" width="650" height="300"></div>
 <p class="p0">{{ filiere.description }}</p><br><br>

<h3>Documents</h3>

{% for document in filiere.document_set.all %}
<ul class="categories">
        <li><span><a href="{% url 'document_detail' document.pk %}">{{ document.titre }}</a></span></li>
        {% empty %}
 	<li>La liste des documents est vide</li>
</ul>
{% endfor %}


 {% endblock groupe2 %}

{% block formulaire %}
{% endblock formulaire %}-->






<!--<h2>{{ filiere.libelle }}</h2>
{{ filiere.description }}

{% for document in filiere.document_set.all %}
 <ul>
 	<li><a href="{% url 'document_detail' document.pk %}">{{ document.titre }}</a></li>
	{% empty %}
 	<li>La liste des documents est vide</li>
 </ul>

{% endfor %}-->