{% extends 'index.html' %}
{% load staticfiles %}

{%  block header %}
{{ block.super }}
{%  endblock header%}

{% block liste %}
{% endblock liste %}

{% block image %}
{% endblock image %}

{% block groupe1 %}
{% endblock groupe1 %}

{% block groupe2 %}

<h2>{{ filiere.libelle }}</h2>
 <div class="img-box"><img src="{{filiere.image.url}}" width="650" height="300"></div>
 <p class="p0">{{ filiere.description }}</p><br><br>

<h3>Documents</h3>

{% for document in filiere.document_set.all %}
<ul class="categories">
        <li><span><a href="{% url 'document_detail' document.pk %}">{{ document.titre }}</a></span></li>
        {% empty %}
 	<li>La liste des documents est vide</li>
</ul>
{% endfor %}


 {% endblock groupe2 %}

{% block formulaire %}
{% endblock formulaire %}






<!--<h2>{{ filiere.libelle }}</h2>
{{ filiere.description }}

{% for document in filiere.document_set.all %}
 <ul>
 	<li><a href="{% url 'document_detail' document.pk %}">{{ document.titre }}</a></li>
	{% empty %}
 	<li>La liste des documents est vide</li>
 </ul>

{% endfor %}-->