{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<!--{% static 'eces/-->
<head>
<title>ECES Biblio</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'eces/css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'eces/css/style.css' %}"  type="text/css" media="all">
<script type="text/javascript" src="{% static 'eces/js/jquery-1.4.2.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'eces/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'eces/js/cufon-replace.js' %}"></script>
<script type="text/javascript" src="{% static 'eces/js/Myriad_Pro_300.font.js' %}"></script>
<script type="text/javascript" src="{% static 'eces/js/Myriad_Pro_400.font.js' %}"></script>
<script type="text/javascript" src="{% static 'eces/js/script.js' %}"></script>
<!--[if lt IE 7]>
<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen">
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');</script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="wrap">
  <header>
    <div class="container">
      <h1><a href="#">Student's site</a></h1>
      <nav>
        <ul>
            <li class="current"><a href="templates/index.html" class="m1">Acceuil</a></li>
          <li><a href="{% static 'eces/contact-us.html' %}" class="m4">Nous joindre</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <aside>
      <h3>Departements</h3>
      <ul class="categories">
        <li><span><a href="#">Gestion</a></span></li>
        <li><span><a href="#">Informatique</a></span></li>
        <li><span><a href="#">Langues</a></span></li>
        <li><span><a href="#">Polytechnique</a></span></li>
         <li><span><a href="#">Qualité</a></span></li>
        <li><span><a href="#">Transport et Logistique</a></span></li>
       
      </ul>
      
    </aside>
    <section id="content">
      <div id="banner">
        <h2>Professional <span>Online Education <span>Since 1992</span></span></h2>
      </div>
      
    </section>
  </div>
</div>
<footer>
  <div class="footerlink">
    <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
